<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>

    <h1>Don't want to read huge text? Make it shorter!</h1>
    
    <form action="summary">
        <textarea name="text" id="text" style="width:1100px;height:400px;"></textarea>
        <br>
        <div id="common">
        <div id="one">
        <div id="select">
            <label style="margin-right: 3%; align-content: flex-start; vertical-align: middle; width:300px;  font-size: 22px;">Method Of Summarizing</label> 
            <select name="method" id="method">
                <option value="1">Word Frequency</option>
                <option value="2">Luhn Algorithm</option>
            </select>
        </div>
            <br>
        <div id="select">
            <label style="margin-right: 3%; align-content: flex-start; vertical-align: middle; width:300px; font-size: 22px;">Size Of Summarized Text</label> 
            <select name="size" id="size">
                <option value="1">25%</option>
                <option value="2">50%</option>
                <option value="3">75%</option>
            </select>
        </div>
        </div>
        <br>
        <div id="two">
            <input type="submit" value="Summarize">
        </div>
        </div>
    </form>

</body>
</html>