#text {
    
    margin-top: 2%;
    margin-bottom: 2.5%;
    border-radius: 1%;
    box-shadow: 0px 30px 20px -10px rgba(0, 0, 0, 0.2);
    padding: 1%;
}

body {
    text-align: center;
    
}

h1 {
    margin-top: 2.5%;
}

select {
    width: 50%;
    height: 40px;
    font-size: 18px;
    margin-bottom: 10px;
    text-align-last: center;
    vertical-align: middle;
    
    
}

#one {
    align-items: flex-start;
    align-content: center;
 
    width: 46%;
    text-align: center;
}
#two {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30%;
    text-align: center;
}

input {
    width: 65%;
    height: 60px;
    flex-shrink: 0;
    font-size: 24px;
    border: 5px dark;
}

form {
    display: flexbox;
    align-content: center;
}


#select {
    border-color: black;

    
}

#common {
    display: flex;
    margin-left: 23%;
}

#method {
    margin-top: 2%;
}
#size {
    margin-top: 2%;
}